*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: auto;
}

@media (max-width: 480px) {

    header{
        width: 100%;
        height: 120px;
        background-color: antiquewhite;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }

    h1{
        background-color: aqua;

        width: 100%;
        height: 120px;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

    }

    img{
        background-color: blue;
        width: 100px;
        height: 100px;
    }

    nav ul{
        display: flex;
        flex-flow:column nowrap;
        margin-left: 50px;
    }

    nav ul li{
        list-style: none;
        
    }

    nav ul li a{
        text-decoration: none;
    }

}